<!-------------------------------------------------------------------------------->
<!-- 프로그램 : 인덕대학교 컴퓨터소프트웨어학과 전자출석 Demo                              -->
<!--                                                                                                                  -->
<!-- 소속 : 인덕대학교  컴퓨터소프트웨어학과  창업동아리 겜지기                              -->
<!-- 교수 : 윤형태 ( 2019.05 - 2022.06 )                                                                  -->
<!-------------------------------------------------------------------------------->

<!DOCTYPE html>
<html lang="kr">
<head>
	<TITLE> 인덕대학 전자출석 Demo</TITLE>
	<META HTTP-EQUIV="content-type" content="text/html; charset=utf-8">
	<script>location.href="login.html"</script>
</head>
</html>

