# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\jsp_project\attend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
